<body style="background-color: rgb(251, 250, 250); height: auto;">
  <h2 class="merchantName">Hello, {{merchantdetails.merchantName}}</h2>
<div >
   <div >
       <div class="restaurantData" *ngFor="let restaurant of merchantdetails.restaurants">
          <button class="deleteRestaurantButton" (Click)="deleteRestaurant(restaurant.name)">Delete Restaurant</button>
         <!-- <h1 class="details" >{{restaurant.name}}</h1> -->
         <!-- <img class="images" [src]="restaurant.imageUrl" alt="image not found"> -->
       </div>
   </div>
</div>
<div>
  <h1 class="titleName">Restaurant Dishes</h1>
  <div  class="main" *ngFor="let restaurant of merchantdetails.restaurants">
      <div  *ngFor="let dish of restaurant.dishes">
          <div class="dishData">
              <div class="dishName">
                  <p style="margin-top: 2vh;" >{{dish.name}}</p>
              </div>
              <img class="images" [src]="dish.imageUrl" alt={{dish.name}}>
              <p class="price">Category : {{dish.category}}</p>
              <p class="price">Price: &#8377; {{dish.price}}</p>
              <button class="editButton" type="button" (click)="edit(dish)">Update</button>
              <button class="deleteButton"  (click)="deleteDishFromResstaurant(restaurant.name,dish.name)">Delete</button>
          </div>
      </div>
  </div>
</div>
<div class="overlay" *ngIf="show" (click)="closeOverlay($event)">
  <div class="totalForm" *ngFor="let restaurant of merchantdetails.restaurants">
      <form #updateForm="ngForm" (ngSubmit)="updateDish(restaurant.name)">
          <div class="content"  >   
              <div style="margin-left: 27vw;font-size: x-large;margin-top: -2vh;" (click)="closePopUp()">
                  &times;
              </div>    
              <h2>Dish Details</h2> 
              <div>
                  <input disabled type="text" name="Name" placeholder="dian name" [(ngModel)]="dishToUpdate.name" #name="ngModel">
              </div>
              <div>
                  <input type="text" name="cuisine" placeholder="cuisine" [(ngModel)]="dishToUpdate.cuisine" #imageUrl="ngModel" >
              </div>
              <div>
                  <input type="number" name=price placeholder="price" [(ngModel)]="dishToUpdate.price" #location="ngModel">
                  
              </div>
              <div>
                  <input type="text" name=category placeholder="category" [(ngModel)]="dishToUpdate.category" #location="ngModel">
              </div>
              <div class="updateDishimage">
                  <input  type="text" name=imageUrl placeholder="imageUrl" [(ngModel)]="dishToUpdate.type" #location="ngModel">
              </div>
             
            <input class="updateButton" type="submit" value="Update">
              <!-- <button type="submit">submit</button> -->
          </div>
      </form>
  </div>
</div>
</body>







