.userimage{
  width: 10vw;
  height: 10vh;
  margin-left: 2vw;
  margin-top: 2vh;
  border-radius: 50px 50px 50px 50px;
}

.userDetails{
  position: fixed;
  margin-left: 80vw;
  display: flex;
}


.example-card {
  width: 100vw;
  height: 90vh;
  
 
  margin-top: 10vh;
  border-radius: 1vh;
  background-color : transparent;
  
}

.edit{
  background-color: white;
  color: rgb(130,42,42);
  border-radius: 0.5vh;
  border: 2px solid  rgb(130,42,42);
  width: 12vw;
  height: 7vh;
  font-size: 3vh;
  font-family: 'Raleway', sans-serif;
  margin-top: 5vh;
  margin-left: 15vw;
  font-weight: 600;

}
.edit:hover{
  background-color: rgb(130,42,42);
  color: white;
 }

.editIcon{
 position: absolute;
 margin-left: -2vw;
}
.profileImage{
  position: absolute;
  border-radius: 1vh;
  border: 1px solid black;
  width: 23vw;
  height: 58vh; 
  position: absolute; 
  margin-top: 24.5vh; 
  margin-left: 15vw;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

 
}
.title{
  font-size: 3vw;
  color: black;
  margin-left: 43vw;
  font-family: 'Belanosima', sans-serif;
  font-family: 'Raleway', sans-serif;
  width: 20vw;
}
.content{
  color: black;
  height: 5vh;
  padding: 1vh;
  margin: 2vh;
  font-size: 1.3vw;
  
  width: 35vw;
  border-bottom: 2px solid black;
  margin-top: 5vh;
  overflow-block:hidden;
  margin-left: 5vw;
}

label{
  position: absolute;
  margin-left: 0.5vw;
  margin-top: 0.7vh;
}

.details{
  margin-top: -5.5vh;
  margin-left: 9vw;
  color: black;
  background-color: transparent;
}
